[Project]
ProjectID=SNIC2015-1-450
JobName=PTR-Pipeline
Cluster=hebbe
JobNodes=1
CpuCores=16
EstimatedTime=04:00:00

[Directories]
Data=/Users/user/Data
References=/Users/user/Reference
Output=/Users/user/Output
Doric=/USers/user/DoriC
Node=$TMPDIR

[Other]
RefName=bacteriaRef
NrSamples=100
SamplesPerNode=5
Email=user@domain.com
FtpURL=ftp.sra.ebi.ac.uk
DataURL=/vol1/fastq/ERR525
StartInd=688
